/* Skip link */
.skip-link {
    position: absolute;
    top: -50px;
    left: 0;
    background-color: var(--bg-body-color);
    color: var(--text-menu-color);
    border-color: none !important;
    padding: 12px;
    z-index: 200;
    transition: all .3s;
}

.skip-link:focus {
    top: 0 !important;
    transition: all .3s;
}

.navbar-container {
    background-color: var(--bg-nav-color);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 62px;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.nav-list li {
    list-style-type: none;
    cursor: pointer !important;
}

.brand a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    color: var(--text-color);
    font-size: 22px;
}

.menu-li a {
    height: 100%;
    padding: 0 20px;
    color: var(--text-color);
}

/* responsive */
@media (max-width:768px) {
    .x-button-pos {
        margin-left: auto;
    }
    
    .brand {
        width: 100%;
    }

    #navigationDrawer {
        top: 0;
        left: 0;
        width: 70% !important;
        height: 100% !important;
        background-color: var(--bg-drawer-color);
        position: fixed;
        padding: 0 .7em;
        transition: all .3s;
        transform: translateX(-100%);
        z-index: 999;
    }

    #navigationDrawer.open {
        position: fixed;
        transform: translateX(0);
        box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
    }

    .nav-list {
        flex-direction: column;
        justify-content: flex-start;
    }

    .menu-li:hover {
        background-color: var(--bg-drawer-menu-color);
    }

    .menu-li a {
        justify-content: left;
        padding: 30px 1em;
        margin: 0 !important;
        height: 0 !important;
        color: var(--text-menu-color);
    }

    .nav-menu-active {
        border-left: 3px solid var(--bg-nav-color);
        background-color: var(--bg-drawer-menu-color);
    }

    .color-mode-toggle-desktop {
        display: none;
    }
}

@media (max-width: 770px) {

    .hamburger-container,
    .close-container {
        font-size: xx-large;
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 62px;
        cursor: pointer;
        margin-left: auto;
        text-align: center;
    }

    .hamburger-icon::before {
        vertical-align: -webkit-baseline-middle !important;
        color: var(--hamburger-icon-color);
    }

    .close-icon::before {
        vertical-align: -webkit-baseline-middle !important;
        color: var(--close-drawer-icon-color);
    }

    .hamburger-icon,
    .close-icon {
        display: inline-block !important;
        height: 100%;
        width: 63px;
        height: 63px;
    }
}

@media (min-width:770px) {
    .menu-li:hover {
        background-color: var(--bg-menu-color);
    }

    .menu-li:hover {
        color: var(--text-white-hover);
        transition: all .1s;
    }

    .nav-menu-active {
        background-color: var(--bg-menu-color);
        color: var(--text-color);
    }

    .color-mode-toggle-mobile {
        display: none;
    }

    .nav-list {
        margin-left: 20px;
    }

    .hamburger-icon,
    .close-icon {
        display: none !important;
    }
}