.jumbotron_title {
  font-size: xx-large;
  font-weight: 600;
}

.jumbotron_tagline {
  font-size: x-large;
  font-weight: 500;
}

.jumbotron {
  min-height: auto;
  background-image: url('/images/hero.jpg');
  background-repeat: unset;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.jumbotron-inner {
  text-align: center;
  vertical-align: middle;
  align-self: center;
  height: auto;
  max-width: 600px;
  margin: auto;
  padding: 120px 20px;
  color: white;
  text-shadow: 2px 2px 8px #000000;
}

.btn-jumbotron {
  text-align: center;
  padding: 0.75em 0.75em;
  cursor: pointer;
  background-color: var(--btn-primary);
  color: white;
  border: none;
  border-radius: 0.3rem !important;
  font-size: medium;
}

.btn-jumbotron:focus {
  outline: none !important;
}

.btn-jumbotron a {
  text-align: center;
  vertical-align: middle;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  .jumbotron {
    background-image: url('/images/hero-small.jpg');
  }
}

@media screen and (max-width: 768px) {
  .jumbotron_title {
    font-size: x-large;
    font-weight: bold;
  }

  .jumbotron_tagline {
    font-size: large;
    font-weight: normal;
  }

  .jumbotron-inner {
    padding: 120px 1em;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron-inner {
    padding: 200px 20px;
  }

  .btn-jumbotron:hover {
    background-color: var(--btn-primary-hover);
    transition: ease-in-out 0.3s;
  }

  .jumbotron {
    background-image: url('/images/hero-large.jpg');
  }
}
